<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active" *ngIf="isLoggedIn">
        <a class="active nav-link" routerLink="/" >Home</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" routerLink="/services">Products Data</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" routerLink="/about" >About Us</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" routerLink="/dashboard" >CRUD</a>
      </li>
      <li  class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" routerLink="/demodirective" >Directive demo</a>
      </li>
      <li  class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" routerLink="/templateform" >Template Form</a>
      </li>
      <li  class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" routerLink="/reactivedrivenform" >Reactive Form</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" routerLink="/pipedemo">Pipe Demo</a>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>

      <button *ngIf="isLoggedIn" class="btn btn-danger ms-2" style="float: right"><i class="fa fa-power-off" araia-hidden="true" (click)="logout()">Logout</i></button>
    </ul>
  </div>
</nav>
<body>
  <router-outlet></router-outlet>
</body>
